modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
PORT = "5000"
VITE_FIREBASE_API_KEY = "AIzaSyBlWX-gUNEoGj-pnO1i97SGBivHJ7S8TnY"
VITE_FIREBASE_MESSAGING_SENDER_ID = "582206454102"
VITE_FIREBASE_STORAGE_BUCKET = "meow-shop-bd.firebasestorage.app"
VITE_FIREBASE_PROJECT_ID = "meow-shop-bd"
VITE_FIREBASE_MEASUREMENT_ID = "G-6150EGXM5S"
VITE_FIREBASE_AUTH_DOMAIN = "meow-shop-bd.firebaseapp.com"
VITE_FIREBASE_APP_ID = "1:582206454102:web:012879773aea1fad563ef7"
